/* 
    Created on  : Mar 29, 2017, 10:32:48 PM
    Author      : Ho Kin Fai, Wong Tak Ming, Chow wa wai
    Project     : comps380f
    Purpose     : main css file
*/

.container{
    margin-left: 20% auto;
    margin-right: 20% auto;
    
}

.main{
    margin-top: 20%;
}

a{
    color:red;
}